<div class="headers">

  <div class="selectBusLine" *ngIf='isVisibleCkeckBox'>
    <ion-label>Select Bus Line</ion-label>
    <ion-select [(ngModel)]="selectedBusLine" (ngModelChange)="updateSelectedValue($event)" multiple="false">
      <ion-option *ngFor="let busLine of dataProvider.getCheckBoxRoutes()" value="{{busLine.id.id}}"> {{busLine.label}} </ion-option>
    </ion-select>
  </div>

  <div class="dateBox" *ngIf='isVisibleCkeckBox'>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" [(ngModel)]="selectedDate">
    </ion-datetime>
  </div>

  <div class="searchBar" *ngIf='isVisibleSearchbar'>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </div>

  <div class="stopDetails" *ngIf='isVisible' class="buttonHide">
    <ion-row>
      <ion-col item-left width-20>
        <button ion-button color="secundary" (click)="hideTimes()"><ion-icon name="arrow-round-back"></ion-icon></button>
      </ion-col>
      <ion-col text-wrap>
        <p text-left> {{stopNameSelected}} </p>
      </ion-col>
    </ion-row>
  </div>
</div>

<ion-content>

  <div *ngIf='isVisibleSearchbar && stopsToShow.length > 0' class="listStops">
    <button ion-button block color="light" (click)="showTimes(stop)" *ngFor="let stop of stopsToShow">
       <div text-wrap> {{ stop.name }} </div>
      </button>
  </div>

  <div *ngIf='isVisibleSearchbar && stopsToShow.length <= 0' class="listStopsEmpty">
    <span>No bus stop found!</span>
  </div>
  <div *ngIf='!isVisibleSearchbar && !isVisible && timesToShowInList.length == 0 && dataProvider.loading == false'>
    <ion-item style="color: red; text-align: center;"> You have to select the busLine that you want. </ion-item>
  </div>

  <div class="showTimes" *ngIf='isVisible && timesToShowInList.length !=0'>
    <ion-segment assertive [(ngModel)]="setFirst">
      <ion-segment-button *ngFor="let time of timesToShow ; let i = index" [value]="i" (ionSelect)="selectedLine(time.times)" (ionSelect)="showToast('Line '+time.line.desc)">
        <div [style.backgroundColor]="time.color"> Line {{time.line.desc}} </div>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="listTimes" *ngIf='isVisible && timesToShowInList.length !=0'>

    <ion-list no-lines>
      <button id="buttonHideShowPossible" (click)="changeVilibilityPossibleTimes()"> Next trips
        <div *ngIf="!possibleTimesVisible"><ion-icon id="iconHideShow" name="arrow-dropdown"></ion-icon> </div>
        <div *ngIf="possibleTimesVisible"><ion-icon id="iconHideShow" name="arrow-dropup"></ion-icon> </div>
        </button>
      <ion-item style="color: red" *ngIf='possibleTimes == [] || possibleTimes.length == 0'> No timetables available </ion-item>
      <div *ngIf="possibleTimesVisible">
        <ion-item *ngFor="let time of possibleTimes">
          <b>{{time | date: 'dd/MM HH:mm'}}</b>
        </ion-item>
      </div>


      <button id="buttonHideShowPassed" (click)="changeVilibilityPassedTimes()"> Other times
      <div *ngIf="!passedTimesVisible"><ion-icon id="iconHideShow" name="arrow-dropdown"></ion-icon> </div>
      <div *ngIf="passedTimesVisible"><ion-icon id="iconHideShow" name="arrow-dropup"></ion-icon> </div>
      </button>
      <div *ngIf="passedTimesVisible">
        <ion-item style="color: green" *ngIf='passedTimes == [] || passedTimes.length == 0'> All timetables are available </ion-item>
        <ion-item *ngFor="let time of passedTimes">
          {{time | date: 'dd/MM HH:mm'}}
        </ion-item>
      </div>

    </ion-list>
  </div>

  <div class="notTimeAvailable" *ngIf='timesToShowInList.length==0 && isVisible'>
    <ion-row>
      <h2> Not stopstime available at this date: <br> {{selectedDate | date: 'yyyy-MMMM-dd'}} </h2>
    </ion-row>
  </div>

</ion-content>