page-contact {

 .contactTimes ion-item{
      font-size: 12px;
       
 }
 .contactTimes ion-list{
      height: 12px;
 }

 .center {
    left:0%;
    top:70px;
    position:absolute;
    width:100%;
    height:8%;
    text-align:center;
    //max-width:800px;
    //max-height:500px;
    position: fixed;
    overflow:auto;
    background: white;
    //border-style: ridge;
    z-index: 1;
}
    .center ion-segment {
        margin-top: 30px;
        position: fixed;
        background-color: white;
        z-index: 1;
    }

   .center h3 {
      position: fixed;
      background: white;
      z-index: 1;
      margin-bottom: 10%;
      margin-right: 0%;
      text-align: center;
      width:100%;
   }

   .notTimeAvailable h2 {
      position: fixed;
      background: white;
      z-index: 1;
      margin-top: 50%;
      margin-right: 0%;
      text-align: center;
      
   }

   .notTimeAvailable h3 {
       color: red;
       margin-top: 75px;
       text-align: center;
       width:100%;
   }

   .notTimeAvailable {
       z-index: 4;
   }

   .buttonHide button {
       position: absolute;
       top: 6px;
       right: 3px;
   }

   .buttonHide {
       margin-top: 0%;
       background: transparent;
   }

   .listTimes ion-list {
       margin-top: 35px;
       overflow:auto;
   }
}