<ion-header>
  <ion-row text-wrap>
    <div class="logo">
      <img src="assets/img/LogoMobilis_white.png" />
      <img src="assets/img/NomeMobilis_white.png" />
    </div>
    <div class="searchBar" *ngIf="routingControl.itenarary == undefined">
      <div class="searchInput" *ngIf="searchControl">
        <input type="text " [(ngModel)]="searchInput " (ngModelChange)="searchPlace() " placeholder="Search... " autofocus>
      </div>
      <div class="searchButton ">
        <button (click)="toogleSearchBox() ">
          <img src="assets/images/search.png " *ngIf="searchControl==false "/>
          <img src="assets/images/cancel.png " *ngIf="searchControl "/>
          </button>
      </div>
    </div>
  </ion-row>
</ion-header>
<ion-content>
  <div class="searchResultList " *ngIf="searchResults?.length> 0">
    <ion-list>
      <ion-item *ngFor="let res of searchResults" (click)="showPlace(res)">
        <ion-row>
          <ion-col width-25>
            <img src="{{res.icon}}" *ngIf="res.icon" />
            <img src="assets/img/android-bus.png" *ngIf="res.icon == undefined" />
          </ion-col>
          <ion-col text-wrap width-75>
            {{res.name}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </div>

  <div id="debug" *ngIf="debug">{{debug}}</div>

  <div class="progress" *ngIf="dataProvider.innit != 100">
    <img src="assets/img/LogoMobilis.png" />

    <h3>Loading...</h3>
    <div class="progress-bar" [style.width.%]=dataProvider.innit>{{dataProvider.innit}}%</div>
  </div>

  <div id="mapid">
  </div>

  <!-- <div class="busLineWindow" *ngIf="busLineBox" (click)="busLineBox=false">
    <div class="busLine">
      <div class="lines">
        <ion-item *ngFor="let line of dataProvider.CheckBoxRoutes">
          <ion-label text-wrap>{{line.label}}</ion-label>
            <ion-checkbox type="checkbox" id="line.id" name="line.shortName" value="line"> </ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div> -->

  <ion-fab bottom right #fab *ngIf="dataProvider.innit == 100 && routingControl.itenarary == undefined && (planning.orig.text == undefined || planning.orig.text != undefined && planningBox.size != 50) && (planning.dest.text == undefined || planning.dest.text != undefined && planningBox.size != 50)">
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab id="filter" (click)="showBusLines(fab)">
          <div class="label">&nbsp; Lines </div>
          <ion-icon name="list"></ion-icon>
      </button>
      <button ion-fab id="street" (click)="toogleMapTile(fab)"> 
          <div class="label">&nbsp; {{chooseMap}} </div>
          <ion-icon name="map"></ion-icon>
      </button>
      <button ion-fab id="markers" (click)="fitMarkers(fab)">
          <div class="label">&nbsp; Fit Markers </div>
           <ion-icon name="barcode"></ion-icon>
      </button>
      <button ion-fab id="stops" (click)="closedStop(fab)"> 
          <div class="label">&nbsp; Closest Stop </div>
          <ion-icon name="bus"></ion-icon>
      </button>
      <button ion-fab id="stops" (click)="showFavorites(fab)"> 
          <div class="label">&nbsp; Favorites </div>
          <ion-icon name="star"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <div id="planning" [style.bottom.px]="planningBox.size" text-wrap *ngIf='planning.orig.text || planning.dest.text'>
    <div class="buttonTop">
      <button ion-button (click)="tooglePlaning()">
        <div *ngIf='planningBox.button == "down"'>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </div>
        <div *ngIf='planningBox.button == "up"'>
          <ion-icon name="arrow-dropup"></ion-icon>
        </div>
        </button>
    </div>
    <div class="left">
      <div class="origin">
        <label>Origin</label><br />
        <input [(ngModel)]="planning.orig.text" type="text" readonly placeholder="Origin coordenates" />
        <!-- <button ion-button (click)="chooseRoute()">(My Location)</button> -->
      </div>
      <div class="dest">
        <label>Destination</label><br />
        <input [(ngModel)]="planning.dest.text" type="text" readonly placeholder="Destination coordenates" />
      </div>
    </div>
    <div class="right">
      <button ion-button (click)="chooseRoute()"><ion-icon name="navigate"></ion-icon></button>
      <button ion-button (click)="cancelRoute(true)"><ion-icon name="close"></ion-icon></button>
      <button ion-button (click)="addToFavoriteRoute()"><ion-icon name="star"></ion-icon></button>
    </div>
  </div>

  <div id="routing" *ngIf='routingControl.itenarary'>
    <div class="cancelButton">
      <button ion-button (click)="cancelRoute(false)"><ion-icon name="arrow-round-back"></ion-icon></button>
    </div>
    <ion-list-header text-wrap>
      Your possibles itineraries:
    </ion-list-header>
    <ion-list>
      <ion-item *ngFor="let d of routingControl.itenarary; let i=index">
        <div (click)="toggleDetails(d)">
          <ion-row text-wrap>
            <ion-col width-75>
              <h1>Route {{i+1}}</h1>
              <h6> Duration: <b>{{d.duration}}</b> <br /> Walking distance: <b>{{d.walkDistance}}</b> </h6>
              <h6> Start: <b>{{d.startTime}}</b> <br /> End: <b>{{d.endTime}}</b> </h6>
            </ion-col>
            <ion-col width-10>
              <ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
            </ion-col>
            <ion-col width-10>
              <button ion-button (click)="showRoute(d)">GO</button>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="d.showDetails">
          <ion-item class="subItemLegs" *ngFor="let l of d.legs">
            <ion-row (click)="toggleSubDetails(l, d.legs)">
              <ion-col width-75 text-wrap>
                On <b>{{l.mode}}</b>: {{l.distance}}
              </ion-col>
              <ion-col width-10>
                <ion-icon color="primary" item-right [name]="l.icon"></ion-icon>
              </ion-col>
            </ion-row>
            <div *ngIf="l.showDetails">
              <div *ngIf='l.mode == "WALK"'>
                <div text-wrap class="subItemSteps" *ngFor="let s of l.steps" (click)="showToast(s.direction, 3000)">
                  {{s.direction}}
                </div>
              </div>
              <div *ngIf='l.mode == "BUS"'>
                <div text-wrap class="subItemSteps" (click)="showToast(l.direction, 3000)">
                  {{l.direction}}
                </div>
              </div>
            </div>
          </ion-item>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>