<ion-header>
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>

    <ion-buttons end>
      <!-- <button ion-button (click)="changeLayer()"><ion-icon name="add"></ion-icon>Add Marker</button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="findbox"></div>
  <div id="debug" *ngIf="debug">{{debug}}</div>

  <div class="progress">
    <!--  -->
    <div class="progress-bar" *ngIf="dataProvider.loading != 100" [style.width.%]=dataProvider.loading>{{dataProvider.loading}}%</div>
  </div>
  <div id="mapid">
  </div>

  <ion-fab right bottom>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab id="filter" (click)="showBusLines()"> <ion-icon name="list"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>