<ion-header>
  <ion-row text-wrap>
    <div class="logo">
      <img src="assets/img/LogoMobilis_white.png" />
      <img src="assets/img/NomeMobilis_white.png" />
    </div>
    <div class="searchBar" *ngIf="routingControl.itenarary == undefined && dataProvider.innit == 100">
      <div class="searchInput" *ngIf="searchControl">
        <input type="text " [(ngModel)]="searchInput " (ngModelChange)="searchPlace() " placeholder="Search... " autofocus>
      </div>
      <div class="searchButton ">
        <button (click)="toogleSearchBox() ">
          <img src="assets/images/search.png " *ngIf="searchControl==false "/>
          <img src="assets/images/cancel.png " *ngIf="searchControl "/>
          </button>
      </div>
    </div>
  </ion-row>
</ion-header>
<ion-content>
  <div class="searchResultList " *ngIf="searchResults?.length> 0">
    <ion-list>
      <ion-item *ngFor="let res of searchResults" (click)="showPlace(res)">
        <ion-row>
          <ion-col width-25>
            <img src="{{res.icon}}" />
          </ion-col>
          <ion-col text-wrap width-75>
            {{res.name}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <div id="debug" *ngIf="debug">{{debug}}</div>

  <div class="progress" *ngIf="dataProvider.innit != 100">
    <img src="assets/img/LogoMobilis.png" />

    <h3>Loading...</h3>
    <div class="progress-bar" [style.width.%]=dataProvider.innit>{{dataProvider.innit}}%</div>
    <h6>{{dataProvider.loadingText}}</h6>
  </div>

  <div id="mapid">
  </div>

  <!-- <div class="busLineWindow" *ngIf="busLineBox" (click)="busLineBox=false">
    <div class="busLine">
      <div class="lines">
        <ion-item *ngFor="let line of dataProvider.CheckBoxRoutes">
          <ion-label text-wrap>{{line.label}}</ion-label>
            <ion-checkbox type="checkbox" id="line.id" name="line.shortName" value="line"> </ion-checkbox>
        </ion-item>
      </div> 
    </div>
  </div> -->

  <ion-fab bottom right #fab *ngIf="dataProvider.innit == 100 && routingControl.itenarary == undefined && (planning.orig.text == undefined || planning.orig.text != undefined && planningBox.size != 50) && (planning.dest.text == undefined || planning.dest.text != undefined && planningBox.size != 50)">
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab id="filter" (click)="showBusLines(fab)">
          <div class="label">&nbsp; Lines </div>
          <ion-icon name="list"></ion-icon>
      </button>
      <button ion-fab id="street" (click)="toogleMapTile(fab)">
          <div class="label">&nbsp; {{chooseMap}} </div>
          <ion-icon name="map"></ion-icon>
      </button>
      <button ion-fab id="markers" (click)="fitMarkers(fab)">
          <div class="label">&nbsp; Fit Markers </div>
           <ion-icon name="barcode"></ion-icon>
      </button>
      <button ion-fab id="stops" (click)="closedStop(fab)">
          <div class="label">&nbsp; Closest Stop </div>
          <ion-icon name="bus"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <div id="planning" [style.bottom.px]="planningBox.size" text-wrap *ngIf='planning.orig.text || planning.dest.text'>
    <div class="buttonTop">
      <button ion-button (click)="tooglePlaning()">
        <div *ngIf='planningBox.button == "down"'>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </div>
        <div *ngIf='planningBox.button == "up"'>
          <ion-icon name="arrow-dropup"></ion-icon>
        </div>
        </button>
    </div>
    <div class="left">
      <div class="origin">
        <label>Origin</label><br />
        <input [(ngModel)]="planning.orig.text" type="text" readonly placeholder="Origin coordenates" />
        <!-- <button ion-button (click)="chooseRoute()">(My Location)</button> -->
      </div>
      <div class="dest">
        <label>Destination</label><br />
        <input [(ngModel)]="planning.dest.text" type="text" readonly placeholder="Destination coordenates" />
      </div>
    </div>
    <div class="right">
      <button ion-button (click)="chooseRoute()"><ion-icon name="navigate"></ion-icon></button>
      <button ion-button (click)="addToFavoriteRoute()"><ion-icon name="star"></ion-icon></button>
      <button ion-button class="cancel" (click)="cancelRoute(true)"><ion-icon name="close"></ion-icon></button>
    </div>
  </div>

  <div id="routing" *ngIf='routingControl.itenarary'>
    <div class="cancelButton">
      <button ion-button (click)="cancelRoute(false)"><ion-icon name="arrow-round-back"></ion-icon></button>
    </div>
    <div class="title" text-wrap>
      Your possibles itineraries
    </div>
    <div>
      <div class="route" *ngFor="let d of routingControl.itenarary; let i=index">
        <div class="header" (click)="toggleDetails(d)">
          <div class="duration" text-wrap>
            <div class="time">{{d.duration}}</div>
            <div class="min">min</div>
          </div>
          <div class="text">
            {{d.startTime}} - {{d.endTime}}
          </div>
          <div class="expand">
            <ion-icon color="primary" [name]="d.icon"></ion-icon>
          </div>
          <div class="navigate">
            <button (click)="showRoute(d)">
            <img src="assets/img/navigate.png" />
            </button>
          </div>
        </div>
        <div *ngIf="d.showDetails">
          <div class="subItemLegs" *ngFor="let l of d.legs">
            <div class="mode" (click)="toggleSubDetails(l, d.legs)">
              <div *ngIf='l.mode == "WALK"' class="text" text-wrap>
                <b>FOOT</b>: {{l.duration}}min
              </div>
              <div *ngIf='l.mode == "BUS"' class="text" text-wrap>
                <b>BUS</b> ({{l.direction.length}} Stops): {{l.duration}}min
              </div>
              <div class="icon">
                <ion-icon color="primary" item-right [name]="l.icon"></ion-icon>
              </div>
            </div>
            <div *ngIf="l.showDetails">
              <div *ngIf='l.mode == "WALK"'>
                <div text-wrap class="subItemSteps" *ngFor="let s of l.steps">
                  <div *ngFor="let d of s.direction, let i=index">
                    <div class="direction">
                      <div class="pipe" [style.border-left-color]="black"> </div>
                      <div class="name" text-wrap>
                        <div class="nameM">{{d.name}} about {{d.distance}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf='l.mode == "BUS"'>
                <div text-wrap class="subItemSteps">
                  <div *ngFor="let d of l.direction, let i=index">
                    <div class="direction">
                      <div class="pipe" [style.border-left-color]="l.routeColor"> </div>
                      <div class="time">
                        <div *ngIf="i==0 || i==(l.direction.length-1)"><b>{{d.time}}h</b></div>
                      </div>
                      <div class="name" text-wrap>
                        <div *ngIf="i==0 || i==(l.direction.length-1)" class="nameFL"><b>{{d.name}}</b></div>
                        <div *ngIf="i!=0 && i!=(l.direction.length-1)" class="nameM">{{d.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>