$darkBlue: #03396c;
$lightBlue: #005b96;
page-home {
    ion-header {
        position: absolute;
        color: white;
        background-color: $lightBlue;
        top: 0;
        height: 60px;
        font-size: 30px;
        padding-left: 10px;
        padding-top: 10px;
        .row {
            flex: wrap;
            height: 50px;
            padding-top: 10px;
        }
        .logo img {
            height: 30px;
        }
    }
    ion-content {
        position: absolute;
    }
    #mapid {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
    }
    .busLineWindow {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;
        .busLine {
            position: relative;
            top: 20%;
            left: 20%;
            width: 70%;
            height: 60%;
            z-index: 1000;
            .lines {
                position: fixed;
                overflow: auto;
                max-height: 60%;
                width: 60%;
                border: 1px solid black;
                border-radius: 15px;
                ion-label {
                    font-size: 12px;
                }
            }
        }
    } //long press container
    .leaflet-container a.leaflet-popup-close-button {
        width: 30px;
        height: 30px;
        color: grey;
        padding: 0px 0px 0px 10px;
        z-index: 2;
    }
    .leaflet-popup-content-wrapper {
        position: relative;
        background-color: white;
        .leaflet-popup-content {
            position: relative;
            margin: -10px;
            width: 300px !important;
            padding: 15px;
            text-align: center;
            .header {
                position: relative;
                display: inline-flex;
                .stopImg {
                    position: relative;
                    width: 20px;
                    margin-right: 10px;
                }
                .stopLabel {
                    position: relative;
                    top: 3px;
                }
            }
            .distanceImg {
                width: 20px;
            }
            .linesDiv {
                position: relative;
                display: inline-block;
                text-align: initial;
                .labelLines {
                    position: relative;
                    bottom: -10px;
                    font-size: 15px;
                }
            }
            .lineItem {
                display: inline-block;
                height: 20px;
                margin: -5px;
                position: relative;
                left: 3px;
                .lineImg {
                    left: 0;
                    width: 50px;
                }
            }
            button {
                color: white;
                background-color: transparent;
            }
            .btnNavStart {
                display: inline-flex;
                height: 30px;
                width: 100px;
                background-color: #0e720f;
                img {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    top: 14%;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .label {
                    position: relative;
                    top: 25%;
                    left: 10%;
                    font-size: 12px;
                }
            }
            .btnNavFav {
                display: inline-flex;
                height: 30px;
                width: 30px;
                img {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    top: 25%;
                }
            }
            .btnNavEnd {
                display: inline-flex;
                height: 30px;
                width: 100px;
                background-color: #a70f0f;
                img {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    top: 14%;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .label {
                    position: relative;
                    top: 25%;
                    left: 10%;
                    font-size: 12px;
                }
            }
        }
    }
    .labelBusStop {
        position: absolute;
        width: auto;
        font-size: 14px;
    }
    #debug {
        position: absolute;
        top: 10px;
        right: 2%;
        width: 300px;
        background-color: white;
        z-index: 2000;
    }
    #planning {
        position: fixed; //bottom: 50px;
        padding: 10px;
        width: 100%;
        font-size: 10px;
        z-index: 1000;
        background-color: #005b96;
        animation: fadeIn 0.3s;
        box-shadow: 0px -5px 3px #03396c;
    }
    @-webkit-keyframes fadeIn {
        from {
            bottom: -100px;
        }
        to {
            bottom: 55px;
        }
    }
    @keyframes fadeIn {
        from {
            bottom: -100px;
        }
        to {
            bottom: 55px;
        }
    }
    #planning .buttonTop {
        position: absolute;
        top: -25px;
        left: 45%;
    }
    #planning .left {
        position: relative;
        display: grid;
        float: left;
        width: 60%;
        left: 0px;
        margin-right: 5px;
        .origin {
            padding: 10px;
        }
        .dest {
            padding: 10px;
        }
        label {
            font-size: 16px;
            margin-bottom: 10px;
            color: #6497b1;
        }
        input {
            position: relative;
            margin-top: 10px;
            margin-left: 5px;
            color: grey;
            height: 25px;
            width: 100%;
        }
    }
    #planning .right {
        position: relative;
        height: 100%;
        width: 30%;
        top: 10px;
        display: grid;
        float: right;
        .button {
            position: relative;
            max-width: 100px;
        }
        .cancel {
            background-color: red;
        }
    }
    .leaflet-control-container .leaflet-routing-container-hide {
        display: none;
    } // Search CSS
    .searchBar {
        position: fixed;
        top: 5px;
        z-index: 50000;
        button {
            background-color: transparent;
        }
        .searchButton {
            position: fixed;
            overflow: hidden;
            top: 10px;
            left: 85%;
            width: 80px;
            height: 55px;
            padding: 8px;
            .img {
                width: 40px;
                height: 35px;
            }
        }
        .searchInput {
            position: fixed;
            height: 50px;
            width: 100%;
            color: white;
            margin: 0px 3px;
            left: -3px;
            top: 10px;
            background-color: $darkBlue;
            font-size: 18px;
            animation: fadeLeft 0.3s;
            @-webkit-keyframes fadeLeft {
                from {
                    left: 100%;
                }
                to {
                    left: 0%;
                }
            }
            @keyframes fadeLeft {
                from {
                    left: 100%;
                }
                to {
                    left: 0%;
                }
            }
            input {
                height: 100%;
                width: 100%;
                padding: 10px;
                border: 0px;
                background-color: transparent;
            }
        }
    }
    .searchResultList {
        position: fixed;
        width: 100%;
        max-height: 55%;
        overflow: auto;
        z-index: 1001;
        box-shadow: 0px 3px 10px 3px #03396c;
        background-color: white;
        .item-md {
            font-size: 14px;
        }
        img {
            width: 35px;
            height: 35px;
        }
    } // LOADING BAR
    /* ========================================================
  Progress Bar
======================================================== */
    .progress {
        overflow: hidden;
        position: absolute;
        top: 15%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: transparent; //border: 1px solid #dcdcdc;
        color: black; //border-radius: 20px;
        text-align: center;
        vertical-align: middle;
        z-index: 2000;
    }
    .progress img {
        width: 50%;
        animation: bounce 2s infinite;
    }
    @-webkit-keyframes bounce {
        0% {
            transform: scale(1.0);
            opacity: 1;
        }
        50% {
            transform: scale(0.8);
            opacity: 0.7;
        }
        100% {
            transform: scale(1.0);
            opacity: 1;
        }
    }
    @keyframes bounce {
        0% {
            transform: scale(1.0);
            opacity: 1;
        }
        50% {
            transform: scale(0.8);
            opacity: 0.7;
        }
        100% {
            transform: scale(1.0);
            opacity: 1;
        }
    }
    .progress-bar {
        color: #fff;
        min-width: 15%; //max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
    /* ========================================================
  Acordeon
======================================================== */
    #routing {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3000;
        overflow: auto;
        background-color: white;
        box-shadow: 0 4px 7px -2px lightgrey;
        .title {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: white;
            z-index: 10;
            padding-top: 13px;
            text-align: center;
            color: white;
            background-color: $lightBlue;
            box-shadow: 0px 5px 2px #03396c;
        }
        .cancelButton {
            position: fixed;
            width: 100%;
            height: 50px;
            top: 60px;
            left: -40%;
            text-align: center;
            background-color: transparent;
            z-index: 20;
        }
        .route {
            width: auto;
            position: relative;
            padding: 0 0 0;
            white-space: normal;
            text-align: justify;
            text-transform: none;
            font-size: 16px;
            white-space: normal;
            text-align: justify;
            margin-top: 10px;
            ion-icon {
                font-size: 3rem;
                padding: 0em 0;
                text-align: center;
                position: absolute;
                left: 3px;
                top: 3px;
                &:before {
                    font-weight: bold;
                }
            }
            .item {
                position: relative;
            }
            .subItemLegs {
                height: auto;
                padding-left: 10px;
                .mode {
                    position: relative;
                    display: inline-flex;
                    width: 100%;
                    .text {
                        position: relative;
                        font-size: 1.4rem;
                        padding: 5px;
                        width: 100%;
                    }
                    .icon {
                        position: relative;
                        width: 100%;
                        ion-icon {
                            font-size: 2rem;
                            position: relative;
                            left: 3px;
                            margin: 0px;
                            &:before {
                                font-weight: bold;
                            }
                        }
                    }
                }
                .subItemSteps {
                    margin-top: 5px;
                    padding-left: 20px;
                    font-size: 1.4rem;
                    .direction {
                        position: relative;
                        display: inline-flex;
                        width: 100%;
                        .pipe {
                            position: relative;
                            border-left: 5px solid;
                            margin-top: -5px;
                            margin-right: 5px;
                        }
                        .time {
                            position: relative;
                            width: 55px;
                            margin-right: 5px;
                        }
                        .name {
                            position: relative;
                            width: 100%;
                            .nameM {
                                font-size: 1.2rem;
                                box-shadow: 0px 2px 5px -2px lightgrey;
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    } /////////////////////////////////
    // ACORDEON END ////////////////
    /////////////////////////////////
    .fab {
        position: relative; //display: block;
        overflow: hidden;
        width: 56px;
        height: 56px;
        border-radius: 15px;
        font-size: 10px;
        line-height: 56px;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
    }
    .fab-in-list {
        width: 120px;
        height: 40px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0);
        transform: scale(0);
        margin-left: -100%;
    }
    .fab ion-icon {
        position: absolute;
        left: 75%;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .fab .label {
        position: absolute;
        float: right;
        right: 40px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 14px;
    }
    .fab .ion-md-add:before {
        content: "\f273";
        position: relative;
        left: -15px;
    }
    .fab .ion-md-close:before {
        content: "\f2c0";
        position: relative;
        left: -15px;
    }
}