<ion-header >
    <div class="searchBar" *ngIf="favorites.length != 0">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </div>
    <ion-row *ngIf="favorites.length == 0"> Favorites </ion-row>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="favoritesToShow.length == 0 && favorites.length == 0" style="color: red"> You don't have any favorites </ion-item>
  <ion-list class="listFavorites">
     <ion-item *ngIf="favoritesToShow.length == 0 && favorites.length != 0" style="color: red"> No results found </ion-item>
    <ion-item id="item" *ngFor="let fav of favoritesToShow">
      <button ion-button block color="light" (click)="travelTo(fav)">
      {{ fav.description }} 
    </button>
      <button ion-button color="danger" (click)="deleteFav(fav)">Delete</button>
    </ion-item>
  </ion-list>
</ion-content>