$darkBlue: #03396c;
$lightBlue: #005b96;
page-favorites {
    ion-header {
        position: absolute;
        color: white;
        background-color: $lightBlue;
        top: 0;
        height: 65px;
        font-size: 30px;
        padding-left: 10px;
        padding-top: 10px;
        .row {
            flex: wrap;
            height: 50px;
            padding-top: 10px;
        }
        .searchBar {
            display: flex;
            width: 100%;
        }
    }
    .toolbar {
        background-color: transparent;
    }
    .noFav {
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 20px;
        color: red;
    }
    .listFavorites {
        position: relative;
        width: 100%;
        .item {
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid lightgrey;
            .btnFav {
                position: relative;
                left: 5px;
                width: 65%;
            }
            .btnDel {
                position: relative;
                margin-left: 5px;
                width: 20%;
            }
            .imgFav {
                position: relative;
                width: 30px;
                top: 15px;
            }
        }
        .label {
            display: inherit;
            width: 100%;
            height: 100%;
        }
    }
}