$darkBlue: #03396c;
$lightBlue: #005b96;
page-favorites {
    ion-header {
        position: absolute;
        color: white;
        background-color: $lightBlue;
        top: 0;
        height: 65px;
        font-size: 30px;
        padding-left: 10px;
        padding-top: 10px;
        .row {
            flex: wrap;
            height: 50px;
            padding-top: 10px;
        }
        .searchBar {
            display: flex;
            width: 100%;
        }
    }
    .toolbar {
        background-color: transparent;
    }
    .noFav {
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 20px;
        color: red;
    }
    .listFavorites {
        position: relative;
        width: 100%;
        .item {
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid lightgrey;
            .btnFav {
                position: relative;
                left: 5px;
                width: 65%;
                white-space: -moz-pre-wrap !important;
                /* Mozilla, since 1999 */
                white-space: -pre-wrap;
                /* Opera 4-6 */
                white-space: -o-pre-wrap;
                /* Opera 7 */
                white-space: pre-wrap;
                /* css-3 */
                word-wrap: break-word;
                /* Internet Explorer 5.5+ */
                white-space: -webkit-pre-wrap;
                /* Newer versions of Chrome/Safari*/
                //word-break: break-all;
                white-space: normal;
            }
            .btnDel {
                position: relative;
                margin-left: 5px;
                width: 20%;
                word-wrap: break-ord;
            }
            .imgFav {
                position: relative;
                width: 30px;
                top: 15px;
            }
        }
        .label {
            display: inherit;
            width: 100%;
            height: 100%;
        }
    }
}